/* Base styles */
body {
    font-family: 'Montserrat', sans-serif;
    
    padding: 0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a1d;
    overflow: hidden;
    position: relative;

}

/* Background with a stylish gradient and subtle animations */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #ff6b6b, #f06595);
    z-index: -1;
    animation: gradientAnimation 15s ease infinite;
}

/* Smooth gradient background animation */
@keyframes gradientAnimation {
    0% {
        background: linear-gradient(135deg, #ff6b6b, #f06595);
    }
    50% {
        background: linear-gradient(135deg, #ff9a8b, #f06595);
    }
    100% {
        background: linear-gradient(135deg, #ff6b6b, #f06595);
    }
}

/* Header Bar */
.header-bar {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Logo */
.logo-container {
    flex: 1;
}

.logo {
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s, text-shadow 0.3s;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #ff6b6b, #f06595);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    position: relative;
}

.logo::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #f06595;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.logo:hover::after {
    transform: scaleX(1);
}

/* Navigation */
.header-bar nav {
    flex: 2;
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f06595;
}

/* Container */
.container {
    width: 80%;
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 20px;
    margin-top: 60px; /* Adjust for the header */
    align-items: center;
}

/* Buy Crypto Section */
.buy-crypto {
    margin-bottom: 40px;
}

.buy-crypto h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Buy Container with flex layout */
.buy-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

/* Buy Card style */
.buy-card {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 20px;
    width: 50%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    height: 238px;
}

.buy-card:hover {
    transform: translateY(-10px);
}

.crypto-select {
    width: 50%;
    margin-bottom: 20px;
    text-align: left;
}

.crypto-select label {
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
}

.crypto-dropdown {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #cccccc;
    font-size: 0.9rem;
    background-color: #ffffff;
    cursor: pointer;
    text-align: left;
}

/* Crypto Info Input Fields */
.crypto-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.ranking {
    overflow: hidden; /* Cache le débordement */
    padding: 10px; /* Réduit l'espace intérieur si besoin */
    width: 650px;
    height: 250px;
    border-radius: 15px; /* Arrondi des coins */
}

.price-table-widget {
    max-width: 100%; /* Assure que le widget ne dépasse pas la largeur du conteneur */
    width: 600px; /* Largeur maximale du widget */
    margin-top: 0; /* Ajuste le margin si nécessaire */
    border-radius: 15px; /* Arrondi des coins */
    
}

.widget {
    width: 100%; /* Prendre toute la largeur du conteneur */
    max-width: 1000px; /* Largeur maximale pour ne pas dépasser un certain point */
    height: auto; /* Ajuster la hauteur automatiquement */
    padding: 20px; /* Espacement interne */
    color: white; /* Couleur du texte */
    position: absolute; /* Positionnement absolu */
    bottom: 10px; /* Collé en bas du conteneur */
    left: 50%; /* Centré horizontalement */
    transform: translateX(-50%); /* Ajuste le centering */
    margin-top: 0; /* Supprime l'espace au-dessus */
}


.amount-input {
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    font-size: 0.9rem;
    background-color: #ffffff;
}

.convert-input {
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    font-size: 0.9rem;
    background-color: #ffffff;
}

.buy-button {
    
    background-color: #cccccc;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    width: 60%;
}

.buy-button:hover {
    background-color: #0056b3;
}

.ma-grosse-bite {
    background-color: #007bff; /* Un bleu vif pour le fond */
    color: white; /* Couleur du texte en blanc */
    padding: 15px; /* Espace à l'intérieur du bouton */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur de souris en "pointer" */
    align-items: center; /* Centrer verticalement l'image et le texte */
    transition: background-color 0.3s ease;
    width: 140px;
}

.buy-buttons {
     background-color: #007bff;
     color: white;
     border: none;
     padding: 10px 20px;
     border-radius: 4px;
     cursor: pointer;
     font-size: 1rem;
     width: 200px;
     position: absolute; /* Le bouton est absolument positionné */
     left: 600px; /* Coordonnée horizontale */
     top: 570px; /* Coordonnée verticale */
    
}

.buy-buttons:hover {
    background-color: #0056b3;
}   

tbody tr:last-child td {
    border-bottom: fixed;
}

tbody tr:hover {
    background-color: linear-gradient(135deg, #ff6b6b, #f06595);
}

/* Crypto Icon Style */
.crypto-icon {
    width: 30px; /* Taille de l'icône */
    height: auto; /* Maintient les proportions */
    margin-right: 50px; /* Espace entre l'icône et le texte */

}
    .crypto-row {
    display: flex;
    align-items: center; /* Aligne verticalement l'icône et le texte */
    justify-content: space-between; /* Écarte les éléments si nécessaire */
    padding: 10px 20px; /* Ajoute un peu d'espace autour */
    
}

/* Action Buttons */
.action-buttons {
    margin-top: 20px;
}
.wallet-options {
    display: none;
    justify-content: space-around; /* Espace entre les boutons de manière égale */
    align-items: center; /* Centre verticalement si nécessaire */
    flex-wrap: wrap; /* Permet le passage à la ligne si l'écran est trop petit */
    padding: 20px;
    gap: 2px; /* Espace entre les boutons */
    top: 800px;
}


.wallet-buttons {
    background-color: #007bff; /* Un bleu vif pour le fond */
    color: white; /* Couleur du texte en blanc */
    padding: 15px; /* Espace à l'intérieur du bouton */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur de souris en "pointer" */
    align-items: center; /* Centrer verticalement l'image et le texte */
    transition: background-color 0.3s ease;
    width: 140px;

}
        .wallet-button {
	    display: none;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 10px;
            display: flex;
            align-items: center;
            margin: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .wallet-button:hover {
            background-color: #f0f0f0;
        }
        .wallet-logo {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
        .loading-screen, .confirmation-message {
            display: none;
            font-size: 18px;
            color: #fff;
            margin-top: 20px;
        }

.loading-screens {
            display: none; /* Par défaut, caché */
            position: fixed; /* Position fixe pour centrer */
            top: 610px; /* Centrer verticalement */
            left: 50%; /* Centrer horizontalement */
            transform: translate(-50%, -50%); /* Ajuste pour centrer complètement */
            justify-content: center; /* Centre horizontalement */
            align-items: center; /* Centre verticalement */
            
            
            color: white; /* Couleur du texte */
            font-size: 1.5rem; /* Taille du texte */
}

.loader {
    
    border-top: 8px solid #3498db; /* Couleur du haut */
    border-radius: 50%; /* Cercle */
    width: 50px; /* Taille du loader */
    height: 50px; /* Taille du loader */
    animation: spin 1s linear infinite; /* Animation de rotation */
}

/* Animation de rotation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
	    .email-entry {
	    display: none;
            font-size: 18px;
            color: #fff;
            justify-content: center;

        }
        .confirmation-message {
            background: #fff;
            color: #333;
            padding: 20px;
            border-radius: 8px;
            text-align: center;
        }
        .email-entry input {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-right: 10px;
            width: 250px;
        }
        .submit-button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            
            
        }
        .submit-button:hover {
            background-color: #0056b3;
}
.wallet-logoz {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

.button-container {
            position: absolute;
            bottom: 20px; /* Distance du bas de la page */
            width: 100%; /* Prend toute la largeur pour centrer le bouton */
            text-align: center; /* Centre le bouton horizontalement */
}
